<table id="template" style="visibility:hidden">
	<tr>
		<td class="text-left col-sm-4">
			<input type="hidden" name="Kontrolori.Index" value="--idRang--" />
			<input type="hidden" name="Kontrolori[--idRang--].IdRang" value="--idRang--" />
			<input type="hidden" name="Kontrolori[--idRang--].ImeRanga" value="--imeRanga--" />
			--imeRanga--
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].Ime" class="form-control" value="--ime--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].Prezime" class="form-control" value="--prezime--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].Oib" class="form-control" value="--oib--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].PocetakSmjene" value="--pocetakSmjene--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].DatumZaposlenja" class="form-control" type="datetime" value="--datumZaposlenja--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].ZaposlenDo" class="form-control" type="datetime" value="--zaposlenDo--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].Lozinka" class="form-control" value="--lozinka--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Kontrolori[--idRang--].KorisnickoIme" class="form-control" value="--korisnickoIme--" />
		</td>
		<td>
			<button class="btn btn-sm btn-danger deleterow" title="Izbaci">Obrisi</button>
		</td>
	</tr>
</table>