<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Podsustavi.Index" value="--IdStupanjKriticnosti--" />
            <input type="hidden" name="Podsustavi[--IdStupanjKriticnosti--].IdStupanjKriticnosti" value="--IdStupanjKriticnosti--" />
            <input type="hidden" name="Podsustavi[--IdStupanjKriticnosti--].StupanjKriticnosti" value="--stupanj--" />
            --stupanj--
        </td>

        <td class="text-center col-sm-1">
            <input name="Podsustavi[--IdStupanjKriticnosti--].Naziv" class="form-control" value="--naziv--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Podsustavi[--IdStupanjKriticnosti--].Opis" class="form-control" value="--opis--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Podsustavi[--IdStupanjKriticnosti--].Osjetljivost" class="form-control" type="number" value="--osjetljivost--" />
        </td>
        <td>
            <input type="hidden" name="Podsustavi[--IdStupanjKriticnosti--].IdLokacija" value="--IdLokacija--" />
            <input type="hidden" name="Podsustavi[--IdStupanjKriticnosti--].NazivLokacije" value="--nazivLokacije--" />
            --nazivLokacije--
        </td>
        <td class="text-center col-sm-1">
            <input name="Podsustavi[--IdStupanjKriticnosti--].UcestalostOdrzavanja" class="form-control" type="number" value="--ucestalostOdrzavanja--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci">Obrisi</button>
        </td>
    </tr>
</table>