@model TimZaOdrzavanjeViewModel

<h2>Unos novog tima</h2>

<div class="container">
	<form asp-action="Dodaj" method="post" id="dokument_form">
		<div asp-validation-summary="All" class="form-group row"></div>

		<div class="form-group row">
			<label asp-for="NazivTima" class=" col-form-label"></label>
			<div class="">
				<input asp-for="NazivTima" class="form-control" />
				<div><span asp-validation-for="NazivTima" class="text-danger"></span></div>
			</div>
			<label asp-for="DatumOsnivanja" class="col-sm-1 col-form-label"></label>
			<div class="">
				<input asp-for="DatumOsnivanja" class="form-control" />
				<div><span asp-validation-for="DatumOsnivanja" class="text-danger"></span></div>
			</div>
			<label asp-for="IdPodrucjaRada" class="col-form-label"></label>
			<div class="">
				<input asp-for="IdPodrucjaRada" readonly="readonly" class="form-control" data-autocomplete-placeholder="podrucjeRada" />
				<div><span asp-validation-for="IdPodrucjaRada" class="text-danger"></span></div>
			</div>
			<div class="">
				<input class="form-control" data-autocomplete="podrucjeRada" asp-for="@Model.VrstaPodrucjaRada" />
			</div>
			<label asp-for="Satnica" class=" col-form-label"></label>
			<div class="">
				<input asp-for="Satnica" class="form-control" />
				<div><span asp-validation-for="Satnica" class="text-danger"></span></div>
			</div>
			<div class="">
				<button id="save" type="submit" class="btn btn-sm btn-primary" title="Spremi">Spremi</button>
				<a class="btn btn-sm btn-primary" value="Odustani" asp-action="Index" title="Odustani">
					Odustani
				</a>
			</div>
		</div>
		<div class="col-sm-10">
			<partial name="Radnici" model="Model.Radnici" />
		</div>
	</form>
</div>

<partial name="NoviRadnikTemplate" />

@section styles{
<link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
<partial name="IncludeValidation" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/js/autocomplete.js" asp-append-version="true"></script>
<script src="~/js/TimoviZaOdrzavanje.js" asp-append-version="true"></script>
}
