<table id="template" style="visibility:hidden">
	<tr>
		<td class="text-left col-sm-4">
			<input type="hidden" name="Radnici.Index" value="--idStrucnaSprema--" />
			<input type="hidden" name="Radnici[--idStrucnaSprema--].IdStrucnaSprema" value="--idStrucnaSprema--" />
			<input type="hidden" name="Radnici[--idStrucnaSprema--].RazinaStrucneSpreme" value="--razina--" />
			--razina--
		</td>
		<td class="text-center col-sm-1">
			<input name="Radnici[--idStrucnaSprema--].Ime" class="form-control" value="--ime--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Radnici[--idStrucnaSprema--].Prezime" class="form-control" value="--prezime--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Radnici[--idStrucnaSprema--].Certifikat" class="form-control" value="--certifikat--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Radnici[--idStrucnaSprema--].IstekCertifikata" class="form-control" type="datetime" value="--istekCertifikata--" />
		</td>
		<td class="text-center col-sm-1">
			<input name="Radnici[--idStrucnaSprema--].Dezuran" class="form-control" value="--dezuran--" />
		</td>
		<td>
			<button class="btn btn-sm btn-danger deleterow" title="Izbaci">Obrisi</button>
		</td>
	</tr>
</table>