<ul>
    <li>
        <a target="_blank" asp-action="OpremaList">Popis sve opreme i uređaja</a>
    </li>
    <li>
        <a target="_blank" asp-action="UredajiExcel">Popis svih uređaja xlsx</a>
    </li>
    <li>
        <a target="_blank" asp-action="OpremaListExcel">Popis sve opreme u xlsx</a>
    </li>
</ul>
<div id="upload row">
    <form class="form-inline" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-xs-6 col-md-3 ">
                <label for="importFile">Uvoz podataka u excel formatu za opremu i uređaje</label>
                <input type="file" class="form-control" id="importFile" name="importFile" data-save="">
            </div>
            <div class="form-group">
                <label for="submit"></label>
                <input type="submit" id="submit" value="Uvezi">
            </div>
        </div>
    </form>
</div>
