<table id="template" style="visibility:hidden">
    <tr>
        <td class="text-left col-sm-4">
            <input type="hidden" name="Uredaji.Index" value="--idStanje--" />
            <input type="hidden" name="Uredaji[--idStanje--].IdStanje" value="--idStanje--" />
            <input type="hidden" name="Uredaji[--idStanje--].TipStanja" value="--tipStanja--" />
            --tipStanja--
        </td>
        <td class="text-center col-sm-1">
            <input name="Uredaji[--idStanje--].Naziv" class="form-control" value="--naziv--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Uredaji[--idStanje--].Proizvodac" class="form-control" value="--proizvodac--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Uredaji[--idStanje--].GodinaProizvodnje" class="form-control" value="--godinaProizvodnje--" />
        </td>
        <td class="text-center col-sm-1">
            <input name="Uredaji[--idStanje--].IdOprema" class="form-control" value="--idOprema--" />
        </td>
        <td>
            <button class="btn btn-sm btn-danger deleterow" title="Izbaci">Obrisi</button>
        </td>
    </tr>
</table>